body {
  background: #303336;
}

.title {
  text-align: center;
  color: white;
}

p {
  color: aqua;
  text-decoration: underline;
}

img {
  border: 1px solid white;
}

.images {
  text-align: center;
}

.community_link {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}

.h_topgg {
  color: white;
}

.link {
  color: white;
  text-decoration: underline;
  border: 1px solid white;
  padding: 4px;
}

.info {
  color: white;
  text-align: center;
}
