body {
  background: #303336;
}

.title {
  text-align: center;
  color: white;
}

p {
  color: aqua;
}

.images {
  text-align: center;
}

.community_link {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}
